<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered">
        <h1>A Server Error Occured!</h1>
        <p>We are working on the issue. Hang tight.</p>
        <a type="button" class="btn" href="/">Home</a>
    </div>

<%- include('includes/end.ejs') %>